
doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="shortcut icon" href="/img/favicon.png")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/loader.css')
  body
  include loader
  block content
